<!-- <p>postapi works!</p>

<table>
    <thead>
        <tr>
            <th>userid</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </tr>
    </thead>
    <thead>
        <thead>
            <tr *ngFor="let mukesh of showdata">
                <td>{{mukesh.userId}}</td>
                <td>{{mukesh.id}}</td>
                <td>{{mukesh.title}}</td>
                <td>{{mukesh.body}}</td>
            </tr>
        </thead>
    </thead>
</table> -->

<form #userpost="ngForm" (ngSubmit)="onsubmit(userpost.value)">
    <input type="text" name="name" placeholder="name" ngModel> <br> <br>
    <input type="text" name="address" placeholder="addresss" ngModel> <br> <br>
    <input type="text" name="email" placeholder="email" ngModel> <br> <br>
    <input type="text" name="rating" placeholder="rating" ngModel> <br> <br>
    <button type="submitt" >submit data</button>
</form>